<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

        <!-- Brand and toggle get grouped together for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Jcain7-Sermo</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse js-scrollspy" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right js-scrollspy-nav">
                <li>
                    <a class="page-scroll" href="#">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#">Top</a>
                </li>
                <li>
                    <a class="page-scroll" href="#">Recent</a>
                </li>
            </ul>
    </div>
</nav>
