

    <% include ../partials/head.ejs %>
    <% include ../partials/header.ejs %>


    <header>
        <div class="carousel-container">
            <div class="carousel-inner-container">
                <div id="carousel">
                    <figure data-figure="0" class="active">
                        <img src="http://res.cloudinary.com/dfm2q4cau/image/upload/v1465419945/lego-man_ui9usb.jpg" >
                        <p>A look at the developers portfolio</p>
                    </figure>
                    <figure data-figure="1">2</figure>
                    <figure data-figure="2">3</figure>
                    <figure data-figure="3">4</figure>
                    <figure data-figure="4">5</figure>
                    <figure data-figure="5">6</figure>
                    <figure data-figure="6">7</figure>
                    <figure data-figure="7">8</figure>
                    <figure data-figure="8">9</figure>
                </div>
            </div>
            <div id="options">
                <p id="carousel-navigation">
                    <button id="previous" data-increment="-1">Previous</button>
                    <button id="next" data-increment="1">Next</button>
                </p>
            </div>
            <div class="carousel-desc">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </header>


    <% include ../partials/footer.ejs %>
